.ResultsList {
    border-right: 2px solid hsl(0,0%,85%);

    max-height: 100%;
}

.ResultsList .filter-var {
    background-color: hsl(0,0%,85%);
    padding: 5px 0;

    height: 5%;
}

.ResultsList .article-list {
    overflow: scroll;

    height: 95%;
}