@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.Landing {
    height: 100vh;

    .title {
        font-family: 'Syne Mono', monospace;
        font-weight: 700;
    }

    .window {
        margin: auto
    }
}

.svg-inline--fa {
    margin-right: 1rem;
}